extends layout

block content
    if pizzaList.length == 0
        h1.errorTitle There are no pizzas!
    else
        h1.mainHead Existing pizzas:
        - var len = pizzaList.length
        - var nRow = len/3
        - var i=0
        - for(nRow; nRow>0; nRow--){
        .row.text-centered
            - var z=3
            if ( (len - i) < 3)
                - z = (len - i)
            - for(z; z>0; z--){
                .col-sm-3.col-centered
                    .thumbnail
                        img.img-responsive(src='images/pizze.jpg', style='width:100%', alt='Image')
                        .caption
                            h3.thumb #{pizzaList[i].name}
                            span.thumb BASE: #{pizzaList[i].base}
                            p.init #{pizzaList[i].description}
                            span.init Ingredients:
                                ul
                                    each ingredient in pizzaList[i]._ingredients
                                        li.init #{ingredient.name}
            - i= i+1
            - }
        - }
