extends layout

block content
    .myContainer
        .div-auto.text-centered
            .col-sm-9.col-centered
                .thumbnail
                    h1.errorTitle ERROR:
                    h2.errorTitle Name Field is Mandatory!

