/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
/* Add a gray background color and some padding to the footer */
footer {
    background-color: #708090;
    padding: 25px;
}
body {
    font-family: Georgia, serif;
    font-size: large;
    background-color: bisque;
}
h1 {
    font-family: Algerian, serif;
    font-size: 300%;
}
h3 {
    color: white;
}
.well{
    text-align: center;
    margin-top: 30px;
}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}