extends layout

block content
   h1 PROPOSE YOUR PIZZA!!
   h2 Take a look at existing pizza or propose your idea
   ul
    li
      a(href='/ingredients') Existing ingredients
    li
      a(href='/pizzas') Existing pizzas
    li
      a(href='/newIngredient') Propose your ingredient
    li
      a(href='/newPizza') Propose your pizza
   footer
    small Design by Andrea Salvoni, Miriana Mancini and Valerio Gregori