extends layout

block content
    if ingredientList.length == 0
        h1 There are no ingredients!
    else
        h1 Existing ingredients:
        ul
            each ingredient in ingredientList
                li name: #{ingredient.name}, description: #{ingredient.description}
                    a(href='/ingredientDetails?parameter=#{ingredient.name}') Dettagli
    br
    a(href='/') Torna alla homepage