extends layout

block content
    if ingredientList.length == 0
        h1 There are no ingredients!
    else
        h1.ingredientPage Existing ingredients
        - var len = ingredientList.length
        - var nRow = len/3
        - var i=0
        - for(nRow; nRow>0; nRow--){
            .row
                - var z=3
                if ( (len - i) < 3)
                    - z = (len - i)
                - for(z; z>0; z--){
                        .col-sm-3
                            .thumbnail
                                img.img-responsive(src='images/ingredienti.jpg', style='width:100%', alt='Image')
                                .caption
                                    h3.ingredientPage #{ingredientList[i].name}
                                    p #{ingredientList[i].description}
                                    a.btn.btn-primary(href='/ingredientDetails?parameter=#{ingredientList[i].name}') Details
                - i= i+1
                - }
        - }