extends layout

block content
    h1 Your idea is important for us!
    h2 Propose your ingredient:
    form(action='/save_ingredient', method='POST')
        | Name:
        input(type='text', name='name')
        br
        | Description:
        input(type='text', name='description')
        br
        br
        input(type='submit', value='Save')