extends layout

block content
    h1 Your idea is important for us!
    h2 Propose your pizza:
    br
    form(action='/save_pizza', method='POST')
        div Name:
            input(type='text', id='idName', name='name')
        div Description:
            input(type='text', id='idDescription', name='description')
        div Base:
            input(type='text', id='idBase', name='base')
        br
        br
        div Select ingredients for your pizza:
            each ingredient in ingredientList
                input(type='checkbox', name='ingredients', value='#{ingredient._id}')
                | #{ingredient.name}
        br
        br
        input(type='submit', value='Save')