extends layout

block content
    h1 Thanks for your contribute!
    h2 You propose this ingredient:
    ul
        li Name: #{name}
        li Description: #{description}
    br
    a(href='/') Torna alla homepage